@media only screen and (max-width: 768px) {
    .sidebar{
        z-index: 999;
        width: calc(250px + 5vw);
        transition: 0.3s ease;
    }
    .sidebar .title-header i{
        display: block;
        transition: 0.3s ease;
    }
    .content{
        margin: 0;
        transition: 0.3s ease;
    }

}

@media only screen and (max-height: 750px) {
    .sidebar .menu{
        height: 450px;
    }

}
@media only screen and (max-height: 600px) {
    .sidebar .menu{
        height: 350px;
    }

}

