@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --color-primary: #1C1B3B;
    --color-light-primary: #36346d;
    --color-secondary: #D97943;
    --color-dark-secondary: #b36234;
    --color-success: #75bb74;
    --color-dark-success: #386438;
    --color-danger: #D32626;
    --color-dark-danger: #941a1a;
    --color-warning: #FFC436;
    --color-dark-warning: #c99b30;
    --color-white: #fff;
}
/* scrollbar ========= */
::-webkit-scrollbar{
    width: 0.5rem;
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-primary);
    border-radius: 5px;
}
/* button ========= */
.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}
.btn-primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}
.btn-secondary{
    background-color: var(--color-secondary);
    color: var(--color-white);
}
.btn-success{
    background-color: var(--color-success);
    color: var(--color-white);
}
.btn-danger{
    background-color: var(--color-danger);
    color: var(--color-white);
}
.btn-warning{
    background-color: var(--color-warning);
    color: var(--color-white);
}
.btn-primary:hover{
    background-color: var(--color-light-primary);
    transition: 0.3s ease;
}
.btn-secondary:hover{
    background-color: var(--color-dark-secondary);
    transition: 0.3s ease;
}
.btn-success:hover{
    background-color: var(--color-dark-success);
    transition: 0.3s ease;
}
.btn-danger:hover{
    background-color: var(--color-dark-danger);
    transition: 0.3s ease;
}
.btn-warning:hover{
    background-color: var(--color-dark-warning);
    transition: 0.3s ease;
}
/* loading ========= */
.contentLoading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background-color: #2c2c2e34;
}
.loader{
    height: 180px;
    width: 180px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.square-item{
    position: absolute;
    height: 15px;
    width: 15px;
    border: 3px solid var(--color-danger);
    margin: 0 auto;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.square-item:nth-child(1){
    animation-name: load-one;
    animation-delay: 0.5s;
}
.square-item:nth-child(2){
    animation-name: load-two;
    animation-delay: 0s;
    border: 3px solid var(--color-primary);
}
.square-item:nth-child(3){
    animation-name: load-three;
    animation-delay: 0.5s;
    border: 3px solid var(--color-secondary);
}
.square-item:nth-child(4){
    animation-name: load-four;
    animation-delay: 0s;
    border: 3px solid var(--color-success);
}

@keyframes load-one {
    50%{ transform: translate(150%, 150%) scale(2);}
}
@keyframes load-two {
    50%{ transform: translate(-150%, 150%) scale(2);}
}
@keyframes load-three {
    50%{ transform: translate(-150%, -150%) scale(2);}
}
@keyframes load-four {
    50%{ transform: translate(150%, -150%) scale(2);}
}
      
/* sidebar && content ========= */
.sidebar{
    background-color: var(--color-primary);
    width: calc(200px + 5vw);
    position: fixed;
    min-height: 100vh;
    height: auto;
    left: 0;
    transition: 0.3s ease;
}
.sidebar .title-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    color: var(--color-white);
}
.sidebar .title-header i{
    position: relative;
    font-size: calc(2rem + 0.1vw);
    background-color: transparent;
    padding: 0.35rem;
    border-radius: 0.5rem;
    display: none;
}
.sidebar .menu{
    position: sticky;
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
    height: 550px;
    overflow-y: scroll;
}
.sidebar .menu .menu-list{
    display: flex;
    justify-content: start;
    align-items: center;
    grid-gap: 1rem;
    font-size: calc(1rem + 0.10vw);
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--color-white);
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 0.5rem;
}
.sidebar .menu .menu-list:hover{
    background-color: var(--color-secondary);
    transition: 0.3s ease;
}
.menu-list-dropdown{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    font-size: calc(1rem + 0.10vw);
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--color-white);
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5rem;
}
.menu-list-dropdown:hover{
    background-color: var(--color-secondary);
    transition: 0.3s ease;
}
.menu-list-dropdown .list-dropdown{
    display: flex;
    grid-gap: 1rem;
    align-items: center;
}
.list-menu{
    display: none;
    flex-direction: column;
    font-size: calc(1rem + 0.10vw);
    color: var(--color-white);
    grid-gap: 0.5rem;
}
.list-menu .list-item-menu{
    background-color: transparent;
    padding: 0.5rem 1rem 0.5rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}
.list-menu .list-item-menu:hover{
    background-color: var(--color-secondary);
    padding-left: 1rem;
    transition: 0.3s ease;
}
.list-menu.active {
    display: flex;
}
.content{
    margin-left: calc(200px + 5vw);
}
.sidebar.active{
    left: calc(-250px - 5vw);
    transition: 0.3s ease;
}
.content.active{
    margin-left: 0;
    transition: 0.3s ease;
}
.sidebar.active .title-header i{
    top: 7rem;
    left: 3.5rem;
    background-color: var(--color-danger);
    border-radius: 0 0.5rem 0.5rem 0;
    display: block;
    transition: 0.3s ease;
}
.container{
    position: relative;
    padding: calc(1rem + 0.25vw);
    width: 100%;
}
.title-content{
    background-color: var(--color-secondary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--color-white);
    align-items: center;
    margin-bottom: 1rem;
}
.footer-menu{
    position: absolute;
    left: 0;
    bottom: 1.5rem;
    background-color: var(--color-danger);
    width: 93.5%;
    display: flex;
    justify-content: start;
    align-items: center;
    grid-gap: 1rem;
    font-size: calc(1rem + 0.10vw);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--color-white);
    cursor: pointer;
    margin: 0 0.5rem;
    transition: 0.3s ease;
}
.footer-menu:hover{
    background-color: var(--color-dark-danger);
    transition: 0.3s ease;
}
